@media only screen and (min-width: 992px) {
    .label-image-center {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .label-image-center {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {

}