/* body{
    background-image: url("./Picture For Assignment/aaaa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

@media only screen and (min-width: 992px) {
    .label-detail {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}